#ex01 .box {
  transition-property: color;
  transition-duration: 0.2s;
}

#ex01 .box:hover {
  background-color: darkslategray;
}

#ex02 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
}

#ex02 .box:hover {
  background-color: darkslategray;
}

#ex03 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}

#ex03 .box:hover {
  background-color: darkslategray;
}

#ex04 .box {
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

#ex04 .box:hover {
  background-color: darkslategray;
  color: white;
}

#ex05 .box {
  transition: background-color 0.5s, color 0.5s 0.2s;
}

#ex05 .box:hover {
  background-color: darkslategray;
  color: white;
}

#ex06 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
}

#ex06 .wrapper:hover .box {
  background-color: darkslategray;
}

#ex07 .box:nth-child(1) {
  transition-delay: 0.2s;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#ex07 .box:nth-child(2) {
  transition-delay: 0.3s;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#ex07 .box:nth-child(3) {
  transition-delay: 0.4s;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#ex07 .wrapper:hover .box {
  background-color: darkslategray;
}

#ex08 .wrapper .box {
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

#ex08 .wrapper:hover {
  background-color: darkslategray;
}

#ex08 .wrapper:hover .box {
  background-color: antiquewhite;
}
