#ex01 .box {
  transition-property: color;
  transition-duration: 0.2s;
}

#ex01 .box:hover {
  background-color: darkslategray;
}

#ex02 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
}

#ex02 .box:hover {
  background-color: darkslategray;
}

#ex03 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}

#ex03 .box:hover {
  background-color: darkslategray;
}

#ex04 .box {
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

#ex04 .box:hover {
  background-color: darkslategray;
  color: white;
}
